.normal.disabled {
    background-color: #d2e8e8!important;
}
.el-calendar-day {
    color: black;
}
.el-calendar__title {
    color: black;
}
.el-calendar__header {
    color: black;
}
input  {
    box-shadow: 0 0 0 2px #0DA8BC00 !important;
}